.places{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    margin-left: 20px;
    width: 100%;
}

article{
    width: 390px;
    padding: 20px;
    margin: 0px 20px 20px 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    float: left;
}
.places-subclas{
    font-size: 30px;
    text-align: center;
}
